body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

    body.dark-theme .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
    }

    body.dark-theme .btn-secondary {
        background-color: #333333;
        color: #ffffff;
    }

    body.dark-theme a {
        color: #bb86fc;
    }
