/* dark-theme.css */
body {
    background-color: #333333;
    color: #ffffff
}

nav {
    background-color: white;
    color :wheat
}

.btn {
    background-color: #ddd;
    color: white;
}

a {
    color: #ffffffff;
}
td 
{
    color :white
}
th {
    color: white
}
