body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

    body.light-theme .navbar-light .navbar-nav .nav-link {
        color: #000000;
    }

    body.light-theme .btn-secondary {
        background-color: #f8f9fa;
        color: #000000;
    }

    body.light-theme a {
        color: #6200ee;
    }
